/* Estilos generales */

:root {
    --color-principal: #02317e;
    --color-secundario: #ccc;
    --color-terciario: #f2f2f2;
    --color-cuarto: #240000;
}

body {
    font-family: 'Fugaz One';
    margin: 0;
    padding: 0;
    background-color: var(--color-terciario);
}

header {
    background-color: var(--color-cuarto);
    color: var(--color-terciario);
    padding: 1em;
    text-align: center;
}

.subtitulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
    /* Color del texto blanco para contrastar con el fondo */
}

/* Estilos para la sección con fondo */
.fondo {
    position: relative;
    height: 100vh;
    background-image: url('/img/edificio.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.8);
    background-repeat: no-repeat;
    /* Agregamos un filtro de opacidad para suavizar la imagen de fondo */
    transition: opacity 0.5s ease-in-out;
}

.fondo-2 {
    position: relative;
    height: 100vh;
    background-image: url('/img/edificio2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.8);
    background-repeat: no-repeat;
    /* Agregamos un filtro de opacidad para suavizar la imagen de fondo */
}

.fondo-3 {
    position: relative;
    height: 100vh;
    background-image: url('/img/proyecto7.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: opacity(0.9);
    background-repeat: no-repeat;
    /* Agregamos un filtro de opacidad para suavizar la imagen de fondo */
}


.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('/img/proyecto7.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: none;
    box-shadow: none;
}

.proyectos img {
    width: 25%;
    /* Reducimos el ancho de las imágenes */
    height: 40%;
    /* Establecemos un alto similar al ancho */
    margin: 8px;
    bottom: 10px;
    padding-top: 20px;
    border: none;
    box-shadow: #333
}

.titulo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #1a1a1a;
    /* Color más oscuro */
    font-size: 120px;
    /* Tamaño de letra más grande */
    font-weight: bold;
    /* Peso de letra más fuerte */
    text-align: center;
    text-shadow: 0 0 10px rgba(127, 125, 125, 0.5);
    /* Efecto de sombra */
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(0, 0, 0, 0.746));
    /* Efecto de gradiente */
    -webkit-background-clip: text;
    background-clip: text;
    /* Agregamos la propiedad estándar */
    -webkit-text-fill-color: transparent;
    animation: titulo 2s ease-in-out infinite;
    /* Animación para el título */
}

@keyframes titulo {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

.servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.servicio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Agregar ancho del 100% para que la imagen ocupe todo el espacio */
    height: 100px;
    /* Establecer un alto fijo para que la imagen se ajuste */
}

.servicio span {
    font-size: 25px;
    font-weight: bold;
    color: var(--color-terciario);
    /* Cambiar el color del texto a blanco para que resalte */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Agregar un efecto de sombra para que las letras se vean mejor */
}

.servicio:hover {
    background-color: #e5e5e5;
    /* Cambiar el fondo al hacer hover */
    transform: scale(1.1);
    /* Aumentar el tamaño al hacer hover */
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #444;
}

div {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 48px;
    /* Tamaño de letra más grande */
    font-weight: bold;
    /* Peso de letra más fuerte */
    margin-bottom: 10px;
    /* Espacio entre el título y el párrafo */
    color: #000000;
    /* Color del texto */
}

footer {
    background-color: var(--color-principal);
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
}

footer p {
    font-size: 16px;
    margin-bottom: 10px;
}