/* Estilos para dispositivos móviles y tabletas */
@media (max-width: 768px) {
    header {
    padding: 10px;
    }
    nav ul {
    flex-direction: column;
    }
    nav li {
    margin-right: 0;
    }
    section {
    flex-direction: column;
    }
    button {
    padding: 10px;
    }
   }
   
   @media (max-width: 480px) {
    header {
    padding: 5px;
    }
    nav a {
    font-size: 14px;
    }
    section {
    padding: 10px;
    }
    button {
    padding: 5px;
    }
   }

   @media (max-width: 768px) {
    .tarjeta {
      width: 100%;
      height: auto;
      margin: 20px 0;
    }
  }
  
  @media (max-width: 480px) {
    .tarjeta {
      padding: 10px;
    }
    .tarjeta .titulo-tarjeta {
      font-size: 18px;
    }
    .tarjeta .descripcion-tarjeta {
      font-size: 14px;
    }
  }

  
@keyframes titulo {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}